.dot{
    position: absolute;
    top: 30px;    
    left: 42px;        
    z-index: 2;
}

.logged-in {
    color: #54C074;
    font-size: 26px;
  }
  
  .logged-out {
    color: #9D9D9D;
    font-size: 26px;
  }