.link-item {
    color: white;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Roboto';
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.link-item:hover {
    color: #ff8c00;
}

.link-item-active {
    color: #fff;
    background-color: #ff8c00;
    padding: 8px 15px;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Roboto';
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
