.course-card-teacher-name{
    font-style: italic;
}
.courses_page_heading{
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: #1976D2;
    margin: 0;
}

.ad_title{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #1976D2;
    /* margin: 0; */
}

.course_card_img{
    width: 100%;
    height: 100%;
}

.courses_page_middlearea_wrapper{
    padding: 10px;
}

.courses_page_side_image_wrapper{
    padding: 10px;
    width: 100%;
    height: 280px;
}

.course-card-title{
    color: #6D93A5;
    font-weight: 300;
    font-size: 18px;
}

.link-anchor{
    text-decoration: none;
    color: #1976D2;
}

.my_btn{ 
    border-color: #1976D2;   
    color: #1976D2;
}
